body{
	background: gray;
}

main{
	width: 25%;
	margin: 0 auto;
	border: 5px solid black;
	padding: 9px 3px 7px 5px;
	background: darkgray;
	min-width: 300px;
}

#textBox{
	width:96.5%;
	font-size: 3em;
	margin: 0 0 5px 0;
	padding-right: 8px;
	text-align: right;
	border: 1px solid black;
}


button{
	width: 23.5%;
	height: 70px;
	font-size: 1.6em;
	cursor: pointer;
	border: 2px solid red;
	background: black;
	color: white;
	margin: 0.2%;
	padding: 1px;
}

#clearButton, #equals{
	width: 48.7%;
}

button:active{
	background-color: red;
}

button:hover{
	border: 3px solid red;
}

/*Media query that makes the calculator position absolutely in the top left as the screen starts 
to shrink, allowing it to remain the same size while displaying properly on smaller screens*/
@media screen and (max-width: 700px){
	main{
		position: absolute;
		left: 10px;
		top: 10px;
	}
}
